# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Env
venv/
env/
.venv/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations cache
**/__pycache__/

# PostgreSQL dumps
*.sql
*.dump
*.bak

# Node (if any frontend tools)
node_modules/