{% extends 'base.html' %}

{% block content %}
<div class="ordx-page">
    
      <div class="ordex-top">
        <h2>Orders Management</h2>
        <a href="{% url 'add_order' %}" class="ordex-add-btn">+ Add Order</a>
      </div>

        <form method="GET" class="ordex-filter-new">
            <!-- Search -->
            <div class="filter-group ordex-select-wrapper">
              <input type="text"
                   name="q"
                   value="{{ request.GET.q|default:'' }}"
                   placeholder="🔍 Search by customer / work">
            </div>

            <div class="filter-group ordex-select-wrapper">
              <select name="status">
                <option value="">All Status</option>
                <option value="pending" {% if request.GET.status == "pending" %}selected{% endif %}>Pending</option>
                <option value="progress" {% if request.GET.status == "progress" %}selected{% endif %}>In Progress</option>
                <option value="completed" {% if request.GET.status == "completed" %}selected{% endif %}>Completed</option>
                <option value="delivered" {% if request.GET.status == "delivered" %}selected{% endif %}>Delivered</option>
            </select>
            </div>

            <button type="submit" class="ordex-filter-btn">Apply</button>
            <button type="button" class="btn-clear">Clear</button>

        </form>
        


    <!-- TABLE -->
    <div class="ordx-table-box">
        <table class="ordx-table">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Work</th>
                    <th>Order Date</th>
                    <th>Delivery</th>
                    <th>Total</th>
                    <th>Advance</th>
                    <th>Due</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                <tr>

                    <td>W{{ order.id|stringformat:"03d" }}</td>

                    <td>{{ order.customer.name }}</td>

                    <td>
                        {{ order.work_name }}
                        <span class="toggle-arrow" onclick="toggleRow({{ order.id }})" id="arrow-{{ order.id }}">
                            ▼
                        </span>
                    </td>

                    <td>{{ order.order_date|date:"d-m-Y" }}</td>

                    <td>{{ order.delivery_date|date:"d-m-Y" }}</td>

                    <td>₹{{ order.total_amount|floatformat:2 }}</td>

                    <td>₹{{ order.advance_paid|floatformat:2 }}</td>

                    <td>
                        ₹{{ order.due_amount|floatformat:2 }}
                    </td>

                    <td>
                        {% if order.status == "pending" %}
                            <a href="{% url 'update_order_status' order.id 'progress' %}" class="ordx-status pending">Pending</a>

                        {% elif order.status == "progress" %}
                            <a href="{% url 'update_order_status' order.id 'completed' %}" class="ordx-status progress">In Progress</a>

                        {% elif order.status == "completed" %}
                            <a href="{% url 'update_order_status' order.id 'delivered' %}" class="ordx-status completed">Completed</a>

                        {% elif order.status == "delivered" %}
                            <span class="ordx-status delivered">Delivered</span>
                        {% endif %}
                    </td>

                    <td class="ordx-actions">

                        {% comment %} {% if order.status == "completed" or order.status == "delivered" %}

                        <div class="tooltip">
                            <a href="{% url 'generate_bill_from_order' order.id %}"
                            class="ordx-btn bill">

                                <i class="fas fa-file-invoice"></i>

                                <span class="tooltip-text">
                                    Generate Bill
                                </span>

                            </a>
                        </div>

                        {% endif %} {% endcomment %}
                        <div class="tooltip">
                            <a href="{% url 'edit_order' order.id %}" class="ordx-btn edit">
                                <i class="fas fa-pen"></i>
                                <span class="tooltip-text">Edit</span>
                            </a>
                        </div>


                        <div class="tooltip">
                            <button type="button"
                                    class="ordx-btn delete"
                                    onclick="openDeleteModal('{{ order.id }}')">
                                <i class="fas fa-trash"></i>
                                <span class="tooltip-text">Delete</span>
                            </button>
                        </div>
                    </td>

                </tr>

                <tr id="notes-{{ order.id }}" class="notes-row">
                    <td colspan="10">
                        <div class="notes-box">
                            <strong>Notes:</strong>
                            {{ order.notes|default:"No notes available" }}
                        </div>
                    </td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="10" class="ordx-empty">
                        No orders found
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>


    {% if orders.paginator.num_pages > 1 %}
    <div class="ordx-pagination">
        {% if orders.has_previous %}
            <a href="?page={{ orders.previous_page_number }}&q={{ request.GET.q }}&status={{ request.GET.status }}"
               class="nav-btn prev">‹ Prev</a>
        {% else %}
            <span class="nav-btn disabled">‹ Prev</span>
        {% endif %}

        <span class="page-info">
            Page {{ orders.number }} of {{ orders.paginator.num_pages }}
        </span>

        {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}&q={{ request.GET.q }}&status={{ request.GET.status }}"
               class="nav-btn next">Next ›</a>
        {% else %}
            <span class="nav-btn disabled">Next ›</span>
        {% endif %}

    </div>
    {% endif %}
<div id="deleteOrderModal" class="ordx-modal">
    <div class="ordx-modal-content">
        <h3>Delete Order</h3>
        <p>Are you sure you want to delete this order?</p>

        <form id="deleteOrderForm" method="POST">
            {% csrf_token %}
            <button type="submit" class="confirm-delete">Yes, Delete</button>
            <button type="button" class="cancel-delete" onclick="closeDeleteModal()">Cancel</button>
        </form>
    </div>
</div>

</div>
<script>
function openDeleteModal(orderId) {
    const modal = document.getElementById("deleteOrderModal");
    const form = document.getElementById("deleteOrderForm");

    form.action = `/delete-order/${orderId}/`;

    modal.style.display = "flex";
}

function closeDeleteModal() {
    document.getElementById("deleteOrderModal").style.display = "none";
}
</script>

<script>
function toggleRow(id) {
    document.querySelectorAll(".notes-row").forEach(row => {
        if (row.id !== "notes-" + id) {
            row.style.display = "none";
        }
    });

    document.querySelectorAll(".toggle-arrow").forEach(a => {
        if (a.id !== "arrow-" + id) {
            a.innerHTML = "▼";
        }
    });

    let row = document.getElementById("notes-" + id);
    let arrow = document.getElementById("arrow-" + id);

    if (row.style.display === "table-row") {
        row.style.display = "none";
        arrow.innerHTML = "▼";
    } else {
        row.style.display = "table-row";
        arrow.innerHTML = "▲";
    }
}
</script>
{% endblock %}