{% extends 'auth_base.html' %}

{% block title %}Reset Password{% endblock %}
{% block heading %}Reset Password{% endblock %}

{% block content %}

<form method="POST" autocomplete="off">
  {% csrf_token %}
    {% if error %}
      <p style="color:red; text-align:center;">{{ error }}</p>
    {% endif %}

  <div class="password-field">
    <input type="password" name="password" id="new-password" placeholder="New Password" required>
    <span class="toggle-password" onclick="togglePassword('new-password', 'eye1')">
      <i id="eye1" class="fa-solid fa-eye-slash"></i>
    </span>
  </div>

  <div class="password-field">
    <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm Password" required>
    <span class="toggle-password" onclick="togglePassword('confirm-password', 'eye2')">
      <i id="eye2" class="fa-solid fa-eye-slash"></i>
    </span>
  </div>

  <button type="submit">Update Password</button>
</form>

<p  class="forgot-back"><a href="/">⬅ Back to Login</a></p>

<script>
function togglePassword(inputId, iconId) {
  const input = document.getElementById(inputId);
  const icon = document.getElementById(iconId);

  if (input.type === "password") {
    input.type = "text";
    icon.classList.replace("fa-eye-slash", "fa-eye");
  } else {
    input.type = "password";
    icon.classList.replace("fa-eye", "fa-eye-slash");
  }
}
</script>


{% endblock %}