{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Price Rule</title>

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'pricing/edit_price.css' %}">
</head>
<body>

<div class="container">

    <h1>Edit Price Rule</h1>

    <div class="section-card">

        <h2>
            Editing:
            {{ rule.category.name }} -
            {{ rule.size.name }}
        </h2>

        <form method="post">

            {% csrf_token %}

            <input type="hidden" name="page" value="{{ request.GET.page }}">
            <input type="hidden" name="category" value="{{ request.GET.category }}">
            <input type="hidden" name="search" value="{{ request.GET.search }}">

            {{ form.as_p }}

            <div style="display:flex; gap:12px; flex-wrap:wrap; margin-top:20px;">

                <button type="submit">
                    Update Rule
                </button>

                <a href="{% url 'manage_pricing' %}" class="delete-btn">
                    Cancel
                </a>

            </div>

        </form>

    </div>

</div>

<script>
document.querySelectorAll('input[type=number]').forEach(input => {

    input.addEventListener('wheel', function(e) {
        this.blur();
    });

});
</script>

</body>
</html>